---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
        exclude: |
          (?x)^(
            helm/github-community/templates/.*\.ya?ml
          )$
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: 4b720c2674b640d046dadf45c2bc5173ee3734a4  # frozen: v8.29.1
    hooks:
      - id: gitleaks

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: 86ee5ea442ee969842e00913c6b76c060a7aa8ef  # frozen: v1.16.3
    hooks:
      - id: zizmor

  # Disabling ruff for now
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: 54a455f7ce629598b7535ff828fd5fb796f4b83f  # frozen: v0.12.9
  #   hooks:
  #     - id: ruff-check
  #       args: [--fix]
  #     - id: ruff-format

exclude: .devcontainer/devcontainer-lock.json
