---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
        exclude: |
          (?x)^(
            helm/github-community/templates/.*\.ya?ml
          )$
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: 2ca41cc1372d1e939a6a879f18cdc19fc1cac1ce  # frozen: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: ea18690d7f8e44203c9efd7bc6229447d02e3951  # frozen: v1.19.0
    hooks:
      - id: zizmor

  # Disabling ruff for now
  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   rev: 54a455f7ce629598b7535ff828fd5fb796f4b83f  # frozen: v0.12.9
  #   hooks:
  #     - id: ruff-check
  #       args: [--fix]
  #     - id: ruff-format

exclude: .devcontainer/devcontainer-lock.json
