[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python3 -m flask --app app.app --debug run"
tests = "coverage run -m unittest"
tests_report = "coverage report --omit=./test/** --sort=cover --show-missing --skip-empty"

[packages]
authlib = "==1.6.0"
flask = "==3.1.1"
flask-cors = "==5.0.1"
flask-limiter = "==3.11.0"
flask-sqlalchemy = "==3.1.1"
govuk-frontend-jinja = "==3.5.0"
gunicorn = "==23.0.0"
psycopg2-binary = "==2.9.10"
pygithub = "==2.6.1"
sentry-sdk = "==2.29.1"

[dev-packages]
coverage = "==7.8.2"
pytest = "==8.4.0"
