{% extends "shared/components/base.html" %}

{% block pageTitle %}
    Repository Standards
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Repository Standards"
      }
    ]
  }) }}


  <h1 class="govuk-heading-xl">Repository Standards</h1>

    <section>
    <h2 class="govuk-heading-m">
      GitHub Repository Technical Standard <strong class="govuk-tag govuk-tag--blue">Preview</strong>
    </h2>
    <p class="govuk-body-s">
      View compliance reports against the updated
      <a class="govuk-link" href="https://octo-documentation.justice.gov.uk/docs/standards/github-repository-technical-standard.html" rel="noopener noreferrer" target="_blank">GitHub repository technical standard</a>.
    </p>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This is a preview and some checks are not yet implemented.
      </strong>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/technical-standard/repositories">View All Repositories</a>
        </h3>
        <p class="govuk-body-s">View compliance against the GitHub repository technical standard for all repositories.</p>
      </div>
    </div>
  </section>

    <section>
    <h2 class="govuk-heading-m">
      Support and Guidance
    </h2>
    <p class="govuk-body-s">Find support and guidance for adhering to the GitHub repository technical standard.</p>
    <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="https://octo-documentation.justice.gov.uk/docs/standards/github-repository-technical-standard.html" rel="noopener noreferrer" target="_blank">Guidance</a>
        </h3>
        <p class="govuk-body-s">Read the GitHub repository technical standard in OCTO Strategic Documentation.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/technical-standard/contact-us">Contact Us</a>
        </h3>
        <p class="govuk-body-s">How you can contact us if you need additional support with your GitHub repositories.</p>
      </div>
    </div>
    
  </section>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <section>
    <h2 class="govuk-heading-m">
      Reports <strong class="govuk-tag govuk-tag--grey">Previous standard</strong>
    </h2>
    <p class="govuk-body-s">View compliance reports for repositories in the Ministry of Justice.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/repositories">View All Repositories</a>
        </h3>
        <p class="govuk-body-s">View the compliance status for all active, public repositories in the Ministry of Justice.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/business-units">View Business Units Reports</a>
        </h3>
        <p class="govuk-body-s">View compliance reports for Business Units within the Ministry of Justice.</p>
      </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/teams">View Teams Reports</a>
        </h3>
        <p class="govuk-body-s">View compliance reports for Teams within the Ministry of Justice.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/unowned-repositories">View Unowned Repositories Report</a>
        </h3>
        <p class="govuk-body-s">View the compliance status for all unowned, public repositories within the Ministry of Justice.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/guidance">Guidance</a>
        </h3>
        <p class="govuk-body-s">View detailed guidance on the repository checks shown in the reports.</p>
      </div>
    </div>


 
  </section>

{% endblock %}
