{% extends "shared/components/base.html" %}

{% block pageTitle %}
    Repository Standards
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Repository Standards"
      }
    ]
  }) }}


  <h1 class="govuk-heading-xl">Repository Standards</h1>

  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/all-repositories">View All Repository Reports</a>
        </h3>
        <p class="govuk-body-s">View the compliance status for all active, public repositorys in the Ministry of Justice.</p>
      </div>
    </div>
  </section>

  <section>

    <h2 class="govuk-heading-m">Business Units</h2>
    <p class="govuk-body-s">View compliance reports for spefici Business Units within the Ministry of Justice.</p>

    <div class="govuk-grid-row">
      {% for owner in owners %}
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="/repository-standards/{{ owner }}">{{ owner }}</a>
        </h2>
        <p class="govuk-body-s">View the compliance status for all active, public repositorys owned by {{ owner }}.</p>
      </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
