{% extends "shared/components/base.html" %}

{% block pageTitle %}
  Compliance Report - {{ repository.name }}
{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Home",
        "href": "/"
      },
      {
        "text": "Repository Standards",
        "href": "/repository-standards"
      },
      {
        "text": "Compliance Report"
      }
    ]
  }) }}


  <h1 class="govuk-heading-xl">Compliance Report - {{ repository.name }}</h1>

  <section class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Owner</dt>
      <dd class="govuk-summary-list__value">{{ repository.authorative_owner }}</dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value">{{ repository.description }}</dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Compliance Badge</dt>
      <dd class="govuk-summary-list__value"><img src="/repository-standards/api/{{ repository.name }}/badge"  alt="{{ repository.compliance_status }}" /></dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">References</dt>
      <dd class="govuk-summary-list__value">
        <a href="https://github.com/ministryofjustice/{{ repository.name }}" rel="noreferrer noopener" target="_blank" class="govuk-link">View Repository on GitHub</a>
        <br />
        <a href="https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/public-report/{{ repository.name }}" rel="noreferrer noopener" target="_blank" class="govuk-link">View Legacy Compliance Report</a>
      </dd>
    </div>
  </section>


  <section>
    {% set badgeText = "To add the compliance badge to your README file, you can use the following markdown snippet: [![Ministry of Justice Repository Compliance Badge](https://github-community.service.justice.gov.uk/repository-standards/api/" + repository.name + "/badge)](https://github-community.service.justice.gov.uk/repository-standards/" + repository.name + "/compliance-report)" %}
    {{ govukDetails({
      "summaryText": "How do I add the badge to my README file?",
      "text": badgeText
    }) }}
  </section>

  <section>
    <h2 class="govuk-heading-l">Required Checks</h1>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Check
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for check in repository.checks if check.required %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ check.name }}<p class="govuk-body-s">{{ check.description }}</p></td>
          <td class="govuk-table__cell">
            <span class="
                        {% if check.status == "fail" %} govuk-tag govuk-tag--red
                        {% elif check.status == "pass" %} govuk-tag govuk-tag--green
                        {% else %} govuk-tag govuk-tag--grey
                        {% endif %}"
            >
            {{ check.status.capitalize() }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="govuk-heading-l">Optional Checks</h1>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Check
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for check in repository.checks if not check.required %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ check.name }}<p class="govuk-body-s">{{ check.description }}</p></td>
          <td class="govuk-table__cell">
            <span class="
                        {% if check.status == "fail" %} govuk-tag govuk-tag--red
                        {% elif check.status == "pass" %} govuk-tag govuk-tag--green
                        {% else %} govuk-tag govuk-tag--grey
                        {% endif %}"
            >
            {{ check.status.capitalize() }}
            </span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}
