{% extends "shared/components/base.html" %}
{% from "shared/components/macros.html" import compliance_tag %}

{% block pageTitle %}
  {{ owner.name }}
{% endblock %}

{% block content %}
  {% set breadcrumbs = {
    "items": [
      { "text": "Home", "href": "/" },
      { "text": "Repository Standards", "href": "/repository-standards" },
      { "text": "Teams", "href": "/repository-standards/teams" },
      { "text": owner.name }
    ]
  } %}
  {{ govukBreadcrumbs(breadcrumbs) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ owner.name }}</h1>
    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-text-align-right govuk-!-margin-top-4"><a class="govuk-link " href="/repository-standards/teams/{{ owner.id }}/edit">Edit</a></p>
    </div>
  </div>
  <section class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        GitHub Teams
        <p class="govuk-body-s govuk-!-margin-bottom-1">GitHub teams are used to determine repository ownership</p>
      </dt>
      <dd class="govuk-summary-list__value">
        {% for team in owner.config.teams %}
        <a class="govuk-link" href="https://github.com/orgs/ministryofjustice/teams/{{ team }}" rel="noopener noreferrer" target="_blank">{{ team }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </dd>
    </div>
  </section>

  <section>
    <h2 class="govuk-heading-l">Repositories</h2>
    {% if not repositories %}
    <p class="govuk-body-s">If you have only just added this team, you will need to wait until the next scheduled run to see your repostiroes in this list.</p>
    {% else %}
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Repository
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
           Compliance Status
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Owner
          </th>
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for repository in repositories %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ repository.name }}</td>
          <td class="govuk-table__cell">
            <img src={% if repository.maturity_level > 0 %}"/assets/images/{{ repository.maturity_level }}-badge.svg"{% else %}"/assets/images/fail-badge.svg"{% endif %}  alt="{{ repository.maturity_level }}" />
          </td>
          {% set owners = repository.authoritative_business_unit_owners + repository.authoritative_team_owners  %}
          <td class="govuk-table__cell">{{ owners | join(",") or None }}</td>
          <td class="govuk-table__cell"><a href="/repository-standards/{{ repository.name }}" rel="noreferrer noopener" class="govuk-link">View Compliance Report</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>

{% endblock %}
