{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
<a href="/" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-xl">GitHub Repository - {{ repository.name }}</h1>

<section class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">GitHub Repository</dt>
        <dd class="govuk-summary-list__value"><a href="https://github.com/ministryofjustice/{{ repository.name }}" class="govuk-link govuk-link--no-visited-state">View GitHub Repository</a></dd>
    </div>
    
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Owners</dt>
        <dd class="govuk-summary-list__value">
          {% set authorative_owners = repository.admin_owner_names if repository.admin_owner_names else repository.owner_names %}
          {% if authorative_owners %}
          {% for owner in authorative_owners %} 
          <a href="/owner/{{ owner }}" target="_blank" class="govuk-link govuk-link--no-visited-state">{{ owner }} </a>
          {% endfor %}
          {% else %}
          No owner
          {% endif %}

        </dd>
    </div>
</section>

{% endblock %}
