{% extends "shared/components/base.html" %}

{% block pageTitle %}GitHub Repository Technical Standard{% endblock %}

{% block content %}
  {{ govukBreadcrumbs({
    "items": [
      { "text": "Home", "href": "/" },
      { "text": "Repository Standards", "href": "/repository-standards" },
      { "text": "Technical Standard" }
    ]
  }) }}

  <h1 class="govuk-heading-xl">GitHub Repository Technical Standard</h1>
  <p class="govuk-body">
    Reports against the
    <a class="govuk-link" href="https://octo-documentation.justice.gov.uk/docs/standards/github-repository-technical-standard.html" rel="noopener noreferrer" target="_blank">GitHub repository technical standard</a>.
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/repository-standards/technical-standard/repositories">View All Repositories</a>
      </h2>
      <p class="govuk-body-s">View compliance against the technical standard for all repositories.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="https://octo-documentation.justice.gov.uk/docs/standards/github-repository-technical-standard.html" rel="noopener noreferrer" target="_blank">Guidance</a>
      </h2>
      <p class="govuk-body-s">Read the GitHub repository technical standard on OCTO Strategic Documentation.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/repository-standards/technical-standard/contact-us">Contact Us</a>
      </h2>
      <p class="govuk-body-s">How you can contact us if you need additional support with your GitHub repositories.</p>
    </div>
  </div>
{% endblock %}